/*
.img{
    width: 150px;
    height: 300px;
}
*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    background-color: rgba(255, 71, 71, 0.995);
    color: #fff;
    padding: 20px;
    text-align:center;
}
nav{
    width: 15%;
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;

}

nav ul {
    list-style-type: none;
    padding: 0;   
}

nav ul li {

display: inline;
margin-right: 10px;
}

nav ul li {
    text-decoration: dashed;
    color: #333;
}

section {
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content:space-between;
}

footer{
    background-color: #333;
    color:#fff;
    padding: 10px;
    text-align: center;
}
#szinhatter {
    background-color: darkcyan;
}
#szinhatter2 {
    background-color:blue
}
#szinhatter3 {
    background-color:gold
}